* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #76a8d0; 
}

.container {
    height: 100vh;
    position: relative;
}

.left-section {
    background-color: #e57373;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
}

.challenge-text {
    position: absolute;
    top: 30%;
    left: 15%;
    color: #ffffff;
    font-size: 6em;
    font-weight: bold;
}

.token-text {
    position: absolute;
    top: 30%;
    left: 25%;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    margin-top: 4em;
}

.right-section {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-section input {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    width: 80%;
}

.right-section button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor:pointer;
}